body {
    background: linear-gradient(to bottom, #333ff4, #6672ff);
    height: 100vh;
}

#text {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Doppio One', sans-serif;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 9px rgba(233, 135, 120, .3);
}

#controls {
    border: 1px black solid;
    padding: 7px;
    font-family: 'Doppio One', sans-serif;
    margin: 0 auto;
}

#button1,
#button2,
#button3 {
    font-family: 'Doppio One', sans-serif;
    border-radius: 4px;
    border: none;
    justify-content: space-between;
    cursor: pointer;

}

#stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
    font-family: 'Doppio One', sans-serif;
}

#monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    padding-right: 10px;
}